Dtale is the best compared to SweetViz, pandas-profiling and pandas_visual_analysis we have learned so far.

### Another Amazing Library For EDA- Dtale

#### If you are an expert in EDA then this is for you.

In [1]:
import seaborn as sns

In [2]:
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'exercise', 'flights', 'fmri', 'gammas', 'geyser', 'iris', 'mpg', 'penguins', 'planets', 'tips', 'titanic']

In [3]:
df=sns.load_dataset('planets')

In [4]:
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [5]:
df.describe()

            number  orbital_period        mass     distance         year
count  1035.000000      992.000000  513.000000   808.000000  1035.000000
mean      1.785507     2002.917596    2.638161   264.069282  2009.070531
std       1.240976    26014.728304    3.818617   733.116493     3.972567
min       1.000000        0.090706    0.003600     1.350000  1989.000000
25%       1.000000        5.442540    0.229000    32.560000  2007.000000
50%       1.000000       39.979500    1.260000    55.250000  2010.000000
75%       2.000000      526.005000    3.040000   178.500000  2012.000000
max       7.000000   730000.000000   25.000000  8500.000000  2014.000000

In [6]:
#pip install dtale

In [7]:
import dtale

In [8]:
dtale.show(df)

In [ ]:
# the amazing thing about "dtale" is we can get the code behind the features. on the right we have code export option. Below is the
# code exported

In [9]:
# DISCLAIMER: 'df' refers to the data you passed in when calling 'dtale.show'

import numpy as np
import pandas as pd

if isinstance(df, (pd.DatetimeIndex, pd.MultiIndex)):
	df = df.to_frame(index=False)

# remove any pre-existing indices for ease of use in the D-Tale code, but this is not required
df = df.reset_index().drop('index', axis=1, errors='ignore')
df.columns = [str(c) for c in df.columns]  # update columns to strings in case they are numbers

chart = np.histogram(df[~pd.isnull(df['distance'])][['distance']], bins=20)
# main statistics
stats = df['distance'].describe().to_frame().T

In [10]:
stats

          count        mean         std   min    25%    50%    75%     max
distance  808.0  264.069282  733.116493  1.35  32.56  55.25  178.5  8500.0

In [11]:
df.corr()

                  number  orbital_period      mass  distance      year
number          1.000000       -0.012570 -0.241429 -0.033638  0.147849
orbital_period -0.012570        1.000000  0.173725 -0.034365 -0.032333
mass           -0.241429        0.173725  1.000000  0.274082 -0.123787
distance       -0.033638       -0.034365  0.274082  1.000000  0.178922
year            0.147849       -0.032333 -0.123787  0.178922  1.000000

In [12]:
s = df['distance']
q1 = s.quantile(0.25)
q3 = s.quantile(0.75)
iqr = q3 - q1
iqr_lower = q1 - 1.5 * iqr
iqr_upper = q3 + 1.5 * iqr
outliers = dict(s[(s < iqr_lower) | (s > iqr_upper)])

In [13]:
outliers

{39: 500.0,
 40: 500.0,
 93: 680.0,
 100: 460.0,
 102: 560.0,
 103: 1150.0,
 104: 1060.0,
 105: 1340.0,
 106: 840.0,
 107: 920.0,
 108: 870.0,
 109: 770.0,
 110: 1230.0,
 111: 600.0,
 158: 480.0,
 185: 535.0,
 187: 411.0,
 189: 642.0,
 190: 501.0,
 192: 447.0,
 193: 542.0,
 197: 453.0,
 654: 550.0,
 658: 1330.0,
 659: 650.0,
 660: 650.0,
 661: 650.0,
 664: 613.0,
 665: 613.0,
 666: 613.0,
 667: 613.0,
 668: 613.0,
 669: 613.0,
 670: 600.0,
 672: 980.0,
 675: 800.0,
 679: 2119.0,
 680: 2119.0,
 688: 800.0,
 689: 800.0,
 690: 1200.0,
 691: 1200.0,
 701: 1400.0,
 702: 1400.0,
 703: 1400.0,
 704: 1400.0,
 705: 1400.0,
 706: 2100.0,
 707: 2100.0,
 718: 1499.0,
 719: 1645.0,
 720: 470.0,
 721: 470.0,
 725: 600.0,
 726: 1200.0,
 727: 2700.0,
 728: 770.0,
 732: 1950.0,
 733: 2250.0,
 735: 855.0,
 736: 855.0,
 737: 1500.0,
 738: 1500.0,
 776: 1000.0,
 780: 1107.0,
 781: 1107.0,
 787: 1180.0,
 788: 1180.0,
 789: 800.0,
 790: 1330.0,
 791: 1140.0,
 793: 570.0,
 818: 780.0,
 819: 780.0,
 820: 780.0,
 821: 780.0,
 822: 780.0,
 823: 780.0,
 824: 780.0,
 825: 1030.0,
 898: 1056.0,
 901: 2000.0,
 905: 3600.0,
 909: 2300.0,
 910: 2800.0,
 911: 7720.0,
 912: 7560.0,
 924: 2570.0,
 925: 4080.0,
 926: 4080.0,
 927: 1760.0,
 928: 4970.0,
 933: 600.0,
 934: 2500.0,
 938: 1200.0,
 945: 1200.0,
 951: 8500.0,
 952: 8500.0,
 955: 492.0,
 959: 408.0,
 974: 400.0,
 990: 450.0,
 1008: 455.0,
 1011: 400.0,
 1012: 480.0,
 1023: 550.0,
 1026: 470.0,
 1028: 3200.0}